@font-face{
  font-family: "againtsregular";
  src: url(./fonts/againts.otf) format('OpenType');
}

body{
  background-color: lightgrey;
}
.page-header{
  border-bottom: 1px solid grey;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;

}

.page-header h1{
  font-family: "againtsregular";
  font-size: 7em;
}

.logo{
  align-self: center;
}

.body{
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}

.content{
  width: 50%;
  text-align: justify;
}

#links ul{
  list-style: none;
}

#links ul li{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  text-align: center;
  cursor: pointer;
}
.nav-link{
  padding: 0;
  color: black;
}

.navbar-text{
  margin: 0;
}

.footer{
  display: flex;
  justify-content: space-around;
  background-color: #343a40;
  color: #fff;
  border-top: 1px solid;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 45px;
  width: 100%;
  padding: 8px 16px;
}

.footer a{
  text-decoration: none;
  color: #fff;
}